    # .dockerignore

    # Python 虚拟环境
    venv/
    *.venv/
    env/
    .env

    # Python 缓存和字节码
    __pycache__/
    *.py[cod]
    *$py.class

    # IDE 和编辑器配置
    .idea/
    .vscode/
    *.swp

    # Git 目录
    .git/
    .gitignore
    .dockerignore

    # 其他不需要的文件
    # 例如，如果日志不需要包含在镜像中（通常推荐挂载卷）
    # logs/*
    # !logs/.gitkeep # 如果 logs 目录需要存在但内容忽略

    # macOS 文件
    .DS_Store